<!--
....................................................................................................
....................................................................................................
....................................................................................................
....................................................................................................
....................................................................................................
....................................................................................................
....................................................................................................
....................................................................................................
....................................................................................................
....................................................................................................
..........................................',:cllloollloolllc:'......................................
......................................;cloollc;,,''.....'';clool:'..................................
..................................':oooc,.....................':ldo:................................
................................,odo;.............................:dd;..............................
..............................'oxl'.................................lkc.............................
.............................;xd,....................................:kl............................
............................ckl.......................................:kl...........................
...........................:kl.........................................lk:..........................
...........................xx.........,coooooooool:'...........:looooooxKk,.........................
........................';oOl.........:l:'.    .,,,..........:do;.    ';oOc.........................
......................'lxoc;............    .     ..........ck:.   ..   .dd.........................
......................dk,..............   .xNK:    .........dx.   lXXl   ok'........................
.....................,kl.'c,...........   .:ol.    .........ok'   'll'   ck;........................
.....................,ko.;kl............         ...........;kc.         ck:........................
......................dx..c;..............     ..............dx'.      ..ck:........................
......................ck:....................................:k:.........ck;........................
.......................ok;...................................'xd.........lk,........................
........................cxo,..................................ck:........dx'........................
.........................'ok:....................,ll,.........'xo.......,ko.........................
..........................,kl....................cOOdllllclllloxc.......;kc.........................
..........................,kl.....................',;;,';c:;'',.........ox,.........................
..........................;kl..........................................,xl..........................
..........................:kc...,l,..............,cllc::;;;:clo:.......ox,..........................
..........................lk;...'dx,..............;:lc::c:coxxc'......ckc...........................
..........................dx'.....lxc..................   ...........:kc............................
.........................lk:.......;ddc'...........................'lx:.............................
.......................,dx:..........;looc;......................'ckd,..............................
.....................;oko'..............;coool:;'............';coodxdl,.............................
..................:oddl'....................,:clllloollllllloolc,...,lool:,.........................
..............':oxdc,...............................''''''.............':loddl:'....................
............;oxdc'..........................................................,coxdc,.................
..........,okl,.................................................................:dxd;...............
.........:kd,.....................................................................'lko'.............
........oOc.........................................................................,xk:............
......'dOc............................................................................lOl...........
......o0c..............................................................................:Od..........
.....lOl................................................................................:ko.........
....lOl......................'c;...............................'.......,l,...............cOl........
...cOo.......................l0l.......'cl;...................cdl'.....:0o................ok;.......
..,kx'......................'kO,.......,dkc....................'.......;0d................;Oo.......
-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to the Creature World. You have arrived in a nearby magical dimension of love, divine intervention, and possibility.">
    <title>Creature World</title>
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="/lib/miniature.earth.js"></script>
    <script src="/lib/obj-loader.js"></script>
    <script src="/js/index.js"></script>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>