<!--
....................................................................................................
....................................................................................................
....................................................................................................
....................................................................................................
....................................................................................................
....................................................................................................
....................................................................................................
....................................................................................................
....................................................................................................
....................................................................................................
..........................................',:00GAB00GA00GAB0:'......................................
......................................;0GA00GA;,,''.....'';B00GA:'..................................
..................................':00GA,.....................':B00:................................
................................,GA0;.............................:0G;..............................
..............................'AB0'.................................0GA.............................
.............................;00,....................................:GA............................
............................B00.......................................:GA...........................
...........................:00.........................................GA:..........................
...........................B0.........,0GA00GAB00G:'...........:A00GAB00GA,.........................
........................';00G.........:A:'.    .,,,..........:B0;.    ';0GA.........................
......................'00GA;............    .     ..........B0:.   ..   .0G.........................
......................A0,..............   .0GA:    .........B0.   0GA0   0G'........................
.....................,AB.'0,...........   .:0G.    .........A0'   '0G'   AB;........................
.....................,00.;GA............         ...........;00.         GA:........................
......................B0..0;..............     ..............GA'.      ..00:........................
......................GA:....................................:B:.........00;........................
.......................GA;...................................'00.........GA,........................
........................B00,..................................GA:........00'........................
.........................'GA:....................,B0,.........'0G.......,A0.........................
..........................,0G....................AB00GA00GAB00GA0.......;0G.........................
..........................,AB...........................................00,.........................
..........................;GA..........................................,00..........................
..........................:GA...,B,..............,00GA::;;;:00G:.......AB,..........................
..........................00;...'GA,..............;:00::G:AB00G'......A00...........................
..........................GA'.....B00..................   ...........:GA............................
.........................00:.......;GAB'...........................'00:.............................
.......................,GA:..........;00GA;......................'B00,..............................
.....................;GA0'..............;0GAB0:;'............';0GA00GA,.............................
..................:B00G'....................,:A00GAB00GA00GAB00G,...,A00G:,.........................
..............':AB00,...............................''''''.............':GA00G:'....................
............;AB00'..........................................................,GA00G,.................
..........,AB0,.................................................................:0GA;...............
.........:00,.....................................................................'GAB'.............
........00G.........................................................................,A0:............
......'0GA............................................................................B00...........
......GA0..............................................................................:0G..........
.....AB0................................................................................:0G.........
....A00......................'G;...............................'.......,A,...............B00........
...GA0.......................0GA.......'B0;...................0GA'.....:00................GA;.......
..,B0'......................'0G,.......,A00....................'.......;00................;GA.......
-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to the Creature World. You have arrived in a nearby magical dimension of love, divine intervention, and possibility.">
    <meta property="og:title" content="Creature World">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/img/banner.jpg">
    <meta property="og:url" content="https://creature.guide/">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:description" content="A nearby magical dimension of love, divine intervention, and possibility.">
    <meta property="og:site_name" content="Creature World">
    <meta name="twitter:image:alt" content="Creature World on globe">
    <title>Creature World</title>
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    
    <link rel="manifest" href="/site.webmanifest">
    <script type="module" src="/js/main.js"></script>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>