.footer {
  background:
  url('/img/bg-ascension-road.png') no-repeat bottom center,
  url('/img/bg-ascension-hills.png') repeat-x bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 1rem;
  &__title {
    font-size: 2.5rem;
    text-align: center;
  }
}