.header {
  backdrop-filter: blur;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  a {
    text-decoration: none;
  }
  .button {
    border-radius: 0;
  }
  &__wrapper {
    padding: 0.5rem 0;
    display: flex;
    margin: 0 auto;
  }
  &__link {
    color: inherit;
    text-shadow: 0 0 0.25em var(--background-color);
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 1rem;
    height: 1.5em;
    vertical-align: middle;
    color: inherit;
    margin-right: 1.5em;
    &:first-child {
      margin-right: auto;
    }
    &:last-child {
      margin-right: 0;
    }
    span {
      line-height: 1;
      // font-size: 2em;
      transform: translateY(-0.075em);
    }
  }
}