.hero {
  color: var(--white);
  text-shadow: 0 0 10px #1e4497;
  background: linear-gradient(var(--background-color) 50%, transparent 50%);
  &__title {
    font-size: 2rem;
    line-height: 1;
    margin: 0;
  }
  &__welcome {
    font-size: 0.8rem;
    font-weight: 300;
    margin: 1rem 0;
  }
  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__link {
    display: flex;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    font-size: 0.8rem;
    align-items: center;
    border-radius: 50%;
    position: relative;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    margin: 0 0.5rem;
    text-shadow: none;
    z-index: 1;
    &:hover {
      animation: radial-rainbow-zoom 0.25s infinite;
    }
    &--twitter {
      background-color: rgb(29, 155, 240);
    }
    &--discord {
      background-color: #586aea;
    }
    &--opensea {
      background-color: rgb(32, 129, 226);
    }
    &__icon {
      width: 1.5em;
      height: 1.5em;
    }
  }
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 75vmin;
    height: 75vmin;
    padding: 2rem;
    pointer-events: none;
    > * {
      pointer-events: initial;
    }
  }
  &__earth-container {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    overflow: hidden;
    #earth {
      height: inherit;
    }
  }
}

@media only screen and (max-width: 600px) {
  .splash {
    color: unset;
    text-shadow: unset;
    &__earth-container {
      position: unset;
      margin: unset;
      z-index: 0;
    }
    &__content {
      width: unset;
      height: unset;
      display: unset;
    }
    &__title {
      font-size: 2rem;
    }
  }
}

@keyframes radial-rainbow-zoom {
  0%,
  100% {
    background: repeating-radial-gradient(
      circle at center,
      var(--red) 0.0rem, var(--red) 0.25rem,
      var(--orange) 0.25rem, var(--orange) 0.50rem,
      var(--yellow) 0.50rem, var(--yellow) 0.75rem,
      var(--blue) 0.75rem, var(--blue) 1.0rem
    );
  }
  25% {
    background: repeating-radial-gradient(
      circle at center,
      var(--orange) 0.0rem, var(--orange) 0.25rem,
      var(--yellow) 0.25rem, var(--yellow) 0.50rem,
      var(--blue) 0.50rem, var(--blue) 0.75rem,
      var(--red) 0.75rem, var(--red) 1.0rem
    );
  }
  50% {
    background: repeating-radial-gradient(
      circle at center,
      var(--yellow) 0.0rem, var(--yellow) 0.25rem,
      var(--blue) 0.25rem, var(--blue) 0.50rem,
      var(--red) 0.50rem, var(--red) 0.75rem,
      var(--orange) 0.75rem, var(--orange) 1.0rem
    );
  }
  75% {
    background: repeating-radial-gradient(
      circle at center,
      var(--blue) 0.0rem, var(--blue) 0.25rem,
      var(--red) 0.25rem, var(--red) 0.50rem,
      var(--orange) 0.50rem, var(--orange) 0.75rem,
      var(--yellow) 0.75rem, var(--yellow) 1.0rem
    );
  }
}