@font-face {
  font-family: 'Alte Haas Grotesk';
  font-weight: 400;
  src: url('/static/AlteHaasGroteskRegular.woff2') format('woff2'), 
    url('/static/AlteHaasGroteskRegular.woff') format('woff');
}

@font-face {
  font-family: 'Alte Haas Grotesk';
  font-weight: 700;
  src: url('/static/AlteHaasGroteskBold.woff2') format('woff2'), 
    url('/static/AlteHaasGroteskBold.woff') format('woff');
}

:root {
  --red: #B64832;
  --orange: #DC7111;
  --yellow: #F5B402;
  --blue: #5C7F93;
  --sky-blue: #7aa1be;
}

html {
  // scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: 'Alte Haas Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
  background: linear-gradient(transparent 50vh, var(--sky-blue));
}

a {
  color: blue;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@import 'splash';
@import 'timeline';
@import 'team';
@import 'rainbow';

@media only screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }
}