@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;700&display=swap');

:root {
  --red: #B64832;
  --orange: #DC7111;
  --yellow: #F5B402;
  --blue: #5C7F93;
  --sky-blue: #7aa1be;
  --midnight: #171e28;
  --ocean: #1e4497;
  --earth: #819647;
  --beige: #FEF9DB;
  --brown: #312829;
  --white: #fff;
  --black: #000;
}

html {
  // scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: 'Averia Serif Libre', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  line-height: 1.33;
  margin: 0;
  overflow-x: hidden;
  background: var(--background-color) linear-gradient(var(--background-color) 100vh, var(--sky-blue) calc(100% - 100vh));
  // transition: background-color 300ms ease-in-out;
  color: var(--foreground-color);
  --background-color: var(--white);
  --foreground-color: var(--black);
  --link-color: var(--ocean);
  &.dark-theme {
    --background-color: var(--midnight);
    --foreground-color: var(--white);
    --link-color: var(--yellow);
  }
}

button,
input,
text {
  font: inherit;
}

@media (prefers-color-scheme: dark) {
  body {
    --background-color: var(--midnight);
    --foreground-color: var(--white);
    --link-color: var(--yellow);
    &.light-theme {
      --background-color: var(--beige);
      --foreground-color: var(--brown);
      --link-color: var(--ocean);
    }
  }
}

p a {
  color: var(--link-color);
  text-decoration: none;
  position: relative;
  white-space: nowrap;
  &::after {
    content: '';
    background: currentColor;
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &:hover {
    color: var(--red);
    &::after {
      background: linear-gradient(to left,
        var(--blue) 0%, var(--blue) 25%,
        var(--yellow) 25%, var(--yellow) 50%,
        var(--orange) 50%, var(--orange) 75%,
        var(--red) 75%, var(--red) 100%
      ) repeat-x;
      background-size: 2rem;
    }
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@import 'header';
@import 'splash';
@import 'timeline';
@import 'team';
@import 'faq';
@import 'rainbow';
@import 'footer';

@media only screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }
}