#rainbow {
  width: 6rem;
  height: 100%;
  position: absolute;
  background: url('/img/rainbow.png') repeat-y center;
  background-size: contain;
  image-rendering: crisp-edges;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
  opacity: 0;
  transform-origin: top center;
  transform: scale(0.05, 0.5);
  pointer-events: none;
}

.rainbow__bg {
  background: var(--background-color) linear-gradient(var(--background-color) 100vh, var(--sky-blue) calc(100% - 100vh));
}