.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 1rem;
  &__title {
    text-align: center;
    margin-bottom: 1em;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

.teammate {
  display: flex;
  align-items: center;
  margin: 2rem;
  &__avatar {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
    position: relative;
    &__image {
      width: inherit;
      height: inherit;
      border-radius: 50%;
    }
    &__eyes {
      width: 3rem;
      height: 1.5rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      visibility: hidden;
      pointer-events: none;
      animation: blinking steps(3, start) infinite 4s;
      animation-play-state: paused;
      background-size: contain;
    }
  }
  &:nth-child(odd) {
    flex-direction: row-reverse;
    .teammate__avatar {
      margin-right: 0;
      margin-left: 1rem;
    }
    .teammate__info {
      text-align: right;
    }
  }
  &:hover .teammate__avatar__eyes {
    visibility: visible !important;
  }
  &:nth-child(1) .teammate__avatar__eyes {
    animation-delay: 2.2s;
  }
  &:nth-child(2) .teammate__avatar__eyes {
    animation-delay: 8.3s;
    animation-duration: 3s;
  }
  &:nth-child(3) .teammate__avatar__eyes {
    animation-delay: 6.7s;
    animation-duration: 12s;
  }
  &:nth-child(4) .teammate__avatar__eyes {
    animation-delay: 4.5s;
  }
}

@media only screen and (max-width: 600px) {
  .team__container {
    display: block;
  }
  .teammate__avatar__eyes {
    animation-play-state: running;
  }
}

@keyframes blinking {
  0%, 20% { visibility: visible; }
  10%, 40%, 100% { visibility: hidden; }
}