---
layout: base
---

<div id="rainbow"></div>

<header class="header">
  <button class="header__theme-toggle">
    Light / Dark
  </button>
</header>

<div class="splash hero">
  <div class="hero__earth-container">
    <div class="earth"></div>
  </div>
  <div class="hero__content">
    <h1 class="hero__title">{{ hero.title }}</h1>
    <h2 class="hero__welcome">{{ hero.welcome }}</h2>
    <nav class="hero__links">
    {% for link in links %}
      <a class="hero__link hero__link--{{ link.title | lower }}" href="{{ link.url }}" target="_blank">
        <img class="hero__link__icon" alt="{{ link.title }}" src="/img/{{ link.title | lower }}.svg" />
      </a>
    {% endfor %}
    </nav>
  </div>
</div>

<section class="white-box">
  <p class="bolder">Creature World’s self titled series of 10,000 digital artworks are a childhood dream brought to life:</p>

  <p>Art that is real enough for you to climb into and exist within.</p>

  <p>These artworks take you on an ongoing adventure through a nearby magical world, The Creature World, by allowing you to journey through immersive digital realms where you exist as your Creature.</p>

  <p>These realms invite you on a journey of discovery. With an array of possible paths to go down each time, you are faced with the question: Who am I?</p>

  <p>Based on how you answer that in The Creature World, your art piece reflects your decisions by updating and growing alongside you.</p>
</section>

<section class="white-box">
  <p class="bolder">Your Creature is also your access to Creature Labs:</p>

  <p>A creative lab exploring the potential of interaction with artwork using web3 technology.</p>

  <p>The lab’s first project was Creature Playground; Creatures were sent one of seven possible pieces of a playground as NFTs. The mission? Collaborate with your peers to put all seven pieces together to create a complete Playground and be rewarded.</p>

  <p>In the spirit of creative experimentation, Creature Labs will be rolling out a series of participatory art projects for Creature holders throughout 2022.</p>
</section>

<section>
  <h2>The Journey</h2>
  <div class="timeline grid">
  {% for event in timeline %}
    <div class="timeline__event" data-date="{{ event.date }}">
      <h3>{{ event.title }}</h3>
      <h4><time>{{ event.date }}</time></h4>
      {% if event.body %}
      <p>{{ event.body | striptags(true) | replace('{', '<a href="' + event.linkUrl + '" target="_blank">') | replace('}', '</a>') | nl2br | safe }}</p>
      {% endif %}
    </div>
  {% endfor %}
  </div>
</section>

<section class="white-box">
  <h2>FAQ</h2>
  <div class="faq">
  {% for qa in faq %}
    <h3>{{ qa.question }}</h3>
    <p>{{ qa.answer }}</p>
  {% endfor %}
  </div>
</section>

<section>
  <h2>The Team</h2>
  <div class="team grid">
  {% for teammate in team %}
    <div class="team__avatar">
      <img class="team__avatar__image" src="/img/{{ teammate.creature }}.jpg" />
      <img class="team__avatar__eyes" src="/img/{{ teammate.creature }}-eyes.jpg">
    </div>
    <div class="team__info">
      <h3>{{ teammate.name }}</h3>
      <h4>{{ teammate.role }}</h4>
      <p>
        <a href="//twitter.com/{{ teammate.twitter }}" target="_blank">@{{ teammate.twitter }}</a>
      </p>
    </div>
  {% endfor %}
  </div>
</section>

<div class="splash footer">
  <h2>Enjoy your stay.</h2>
</div>