---
layout: base
---

<div id="rainbow"></div>

<header class="header">
  <button class="header__theme-toggle">
    Light / Dark
  </button>
</header>

<section class="splash">
  <div class="splash__earth-container">
    <div id="earth"></div>
  </div>
  <div class="splash__content">
    <h1 class="splash__title">Creature World</h1>
    <h2>Welcome to the Creature World. You have arrived in a nearby magical dimension of love, divine intervention, and possibility.</p>
    <nav class="splash__links">
    {# {% for link in links %}
      <a class="splash__link splash__link--{{ link.title | lower }}" href="{{ link.url }}" target="_blank">
        <img class="splash__link__icon" alt="{{ link.title }}" src="/img/{{ link.title | lower }}.svg" />
      </a>
    {% endfor %} #}
    </nav>
  </div>
</section>

<section>
  <h2>Journey Thus Far</h2>
  <div class="timeline grid">
  {% for event in timeline %}
    {% set el = 'div' if event.future else 'article' %}
    {% set modifier = 'future' if event.future else 'present' %}
    <{{el}} class="timeline__event timeline__event--{{ modifier }}">
      <h3>{{ event.title }}</h3>
      <h4>{{ event.date }}</h4>
      <p>{{ event.body | striptags(true) | replace('{', '<a href="' + event.linkUrl + '" target="_blank">') | replace('}', '</a>') | nl2br | safe }}</p>
    </{{el}}>
  {% endfor %}
  </div>
</section>

<section class="white-box">
  <h2>FAQ</h2>
  <div class="faq">
  {% for qa in faq %}
    <h3>{{ qa.question }}</h3>
    <p>{{ qa.answer }}</p>
  {% endfor %}
  </div>
</section>

<section>
  <h2>The Team</h2>
  <div class="team grid">
  {% for teammate in team %}
    <div class="team__avatar">
      <img class="team__avatar__image" src="/img/{{ teammate.creature }}.jpg" />
      <div class="team__avatar__eyes" style="background-image: url('/img/{{ teammate.creature }}-eyes.jpg')"></div>
    </div>
    <div class="team__info">
      <h3>{{ teammate.name }}</h3>
      <h4>{{ teammate.role }}</h4>
      <p>
        <a href="//twitter.com/{{ teammate.twitter }}" target="_blank">@{{ teammate.twitter }}</a>
      </p>
    </div>
  {% endfor %}
  </div>
</section>

<section class="white-box">
  <h2>Press</h2>
  <div class="press">
  {% for link in press %}
    <blockquote cite="{{ link.url }}">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae neque at odio ornare suscipit. Phasellus placerat pretium dui in ornare. Aenean in magna vitae enim accumsan mattis.</p>
      <span>&mdash; <a href="{{ link.url }}" target="_blank">{{ link.name }}</a></span>
    </blockquote>
  {% endfor %}
  </div>
</section>

<section>
  <h2>Enjoy your stay.</h2>
</section>